@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #006AE8;
  --shadow-color: rgb(59,59,59);
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  margin: 0 .5rem;
  max-width: 359px;
}



/* NAV ----------------------*/
.container-nav {
  margin: 0 .5rem;
  max-width: 359px;
  width: 100%;
  height: 10vh;
}

.container-nav button {
  color: white;
  background-color: transparent;
  border: 1px solid var(--shadow-color);
  border-radius: 5px;
  padding: .25em .5em;
  font-size: 2rem;
  cursor: pointer;
}

.nav-overview ul {
  position: absolute;
  width: 359px;
  background-color: white;
  color: var(--shadow-color);
  list-style-type: none;
  border-radius: 0 .5rem .5rem .5rem;
}

.nav-overview ul li {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem .5rem;
  cursor: pointer;
}

.nav-overview ul li:hover {
  color: var(--main-color);
}



/* TODAY ----------------------*/
.container-today {
  min-height: 90vh;
}

.container-today .date {
  margin-top: 4rem;
  text-align: center;
  color: var(--shadow-color);
}

.container-today h1 {
  margin: 0 0 1.5rem;
  text-align: center;
}

.container-today .emoji-scale {
  text-align: center;
  max-width: 359px;
}

.container-today .emoji-scale label[for="mood"] {
  position: relative;
  top: -.5rem;
  left: 0;
  font-size: 3rem;
}

.container-today .emoji-scale input {
  width: 305px;
}

.container-today .success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-today .success h2 {
  margin: 1.5rem 0 1.5rem;
  cursor: help;
  text-align: center;
}

.container-today .success > p {
  color: var(--shadow-color);
  text-align: center;
  line-height: 1.3rem;
  margin-bottom: 1.5rem;
  border: 2px dotted var(--shadow-color);
  padding: .25rem .5rem;
}

.container-today .success input {
  padding: .5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: .5rem;
  width: 100%;
  background-color: var(--shadow-color);
  color: #fff;
  letter-spacing: 1px;
}

.container-today .success input:focus {
  outline: none;
}

.thumb {
  transform: scale(.75);
}

.thumb.go-away { /* .go-away gets added after 1 sec by JS and all removed 1sec later*/
  transform: scale(1.5);
  transition: transform 1s ease-in-out;
}

.btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.container-today .success button {
  background-color: var(--main-color);
  color: #fff;
  font-weight: bold;
  padding: .5rem 1rem;
  border: 0;
  border-radius: .5rem;
  cursor: pointer;
}

.container-today .success button:active {
  transform: scale(.9);
}

@media (max-width: 360px) {
  .container-today .emoji-scale label[for="mood"] {
    font-size: 2rem;
  }
  .container-today .emoji-scale input {
    width: 210px;
  }
}



/* PASTWEEK ----------------------*/
.message {
  margin-bottom: 1rem;
}

.container-week {
  min-height: 90vh;
  min-width: 355px;
}

.container-week .btns-container {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.backward, .forward {
  font-size: 1.25rem;
  padding: 0 1rem;
  cursor: pointer;
}

.day {
  border: 1px solid var(--shadow-color);
  padding: .25rem;
  margin-bottom: .5rem;
}

.day ul {
  padding-left: 1.25rem;
}












/* GLOBAL - if it's on top of the stylesheet, it might get overwritten */
.d-none {
  display: none;
}

.v-hidden {
  visibility: hidden;
}